.example-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  background: #eee;
}

.example-drawer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: crimson;
  margin: auto;
}

.the-content {

  background-color: yellow;
}

mat-toolbar {
  display: flex;
  color: #eeeeee;
  background-color: #555555;
  height: 100px
}

mat-toolbar-row {
  color: #eeeeee;
  height: 100px;
  background-color: green;
}

.title-center {
  margin: 0 auto;
}

.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}

.sidenav {
  background: lightgrey;
  height: 100%;
  width: 300px;
  display: block;
  margin-right: 15px;
  border-radius: 1px;

}

.logo {
  position: relative;
  padding: 0.5rem 0.7rem;
  z-index: 4;
}

.jumbotron {
  font-family: 'Poppins', serif;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: bisque;
}

.container {
  margin-top: 2%;
}

.row {
  margin-top: 15px;
  margin-bottom: 10px;
}

body {
  text-align: center;
}

* {
  text-align: center;
}

.preview {
  border: 10px black;
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: solid;
  border-left-style: solid;
  width:1000px;
  height:1000px;
}

.container text-center {
  border: 10px black;

}

img{
  max-width: 100%;
  max-height: 100%;
  opacity: 0.6;
  display: block; /* remove extra space below image */
}

#primaryContainer {
  float: right;
}
