<app-default-header></app-default-header>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'ADMIN' || currentUser.role === 'ORGANIZER')">
  <app-admin-nav></app-admin-nav>
</div>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'PARTICIPANT')">
  <app-participant-nav></app-participant-nav>
</div>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'TALENT')">
  <app-talent-nav></app-talent-nav>
</div>

<div *ngIf="!(isAuthenticatedValue && isRegisteredValue)" class="main-content">
  <div class="card">
    <h2 class="label">Scheduling made easier</h2>
    <p class="description">
      Our project provides an open-source scheduling template that can be tailored to an individual
      or to an organization's specific needs, just like a Chameleon!
    </p>
    <div class="icon-wrapper">
      <mat-icon class="main-icon" svgIcon="checkAll"></mat-icon>
    </div>
  </div>
  <div class="card">
    <h2 class="label">Serverless Infrastructure</h2>
    <p class="description">
      Using Vendia's serverless infrastructure as our data layer, information is available with zero
      IT overhead, making our product available to use straight out of the box.
    </p>
    <div class="icon-wrapper">
      <mat-icon class="main-icon" svgIcon="graphQl"></mat-icon>
    </div>
  </div>
  <div class="card">
    <h2>Highly Customizable</h2>
    <p class="description">
      We aim to provide a scalable software template that clients can customize without any
      extensive IT Department to act as the middle man.
    </p>
    <mat-icon class="main-icon" svgIcon="edit"></mat-icon>
  </div>
</div>

<!-- Dynamic Rendering for Talent Accounts -->
<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'TALENT')" class="main-content">  
  <mat-toolbar class="second-toolbar">
  </mat-toolbar>

  <div class="welcome-message">
    <p class="welcome-text">Welcome Back {{ currentUser.displayName }}!</p>
  </div>
  

  <div class="content">  
    <div class="event-widget">
      <app-event-widget></app-event-widget>
    </div>
      
    <div class="booked-appts-widget">
      <app-booked-appts-widget></app-booked-appts-widget>
    </div>

  </div>


</div>

<!-- Dynamic Rendering for Talent Accounts -->
<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'PARTICIPANT')" class="main-content">  
  <mat-toolbar class="second-toolbar">
  </mat-toolbar>

  <div class="welcome-message">
    <p class="welcome-text">Welcome Back {{ currentUser.displayName }}!</p>
  </div>
  

  <div class="content">  
    <app-participant-booked-appts></app-participant-booked-appts>
  </div>


</div>


<div class="main-content">
</div>

<app-site-footer></app-site-footer>
