<app-default-header></app-default-header>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'ADMIN' || currentUser.role === 'ORGANIZER')">
  <app-admin-nav></app-admin-nav>
</div>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'PARTICIPANT')">
  <app-participant-nav></app-participant-nav>
</div>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'TALENT')">
  <app-talent-nav></app-talent-nav>
</div>

<div *ngIf="!(isAuthenticatedValue && isRegisteredValue)" class="main-content">
  <div class="card">
    <h2 class="label">Scheduling made easier</h2>
    <p class="description">
      Our project provides an open-source scheduling template that can be tailored to an individual
      or to an organization's specific needs, just like a Chameleon!
    </p>
    <div class="icon-wrapper">
      <mat-icon class="main-icon" svgIcon="checkAll"></mat-icon>
    </div>
  </div>
  <div class="card">
    <h2 class="label">Serverless Infrastructure</h2>
    <p class="description">
      Using Vendia's serverless infrastructure as our data layer, information is available with zero
      IT overhead, making our product available to use straight out of the box.
    </p>
    <div class="icon-wrapper">
      <mat-icon class="main-icon" svgIcon="graphQl"></mat-icon>
    </div>
  </div>
  <div class="card">
    <h2>Highly Customizable</h2>
    <p class="description">
      We aim to provide a scalable software template that clients can customize without any
      extensive IT Department to act as the middle man.
    </p>
    <mat-icon class="main-icon" svgIcon="edit"></mat-icon>
  </div>
</div>

<div *ngIf="(isAuthenticatedValue && isRegisteredValue) && (currentUser.role === 'TALENT')" class="main-content">
  <div class="card">
    <h2 class="label">Welcome Back {{ currentUser.displayName }}!</h2>
    <p class="description">
      You are a talent.<br>
      Our project provides an open-source scheduling template that can be tailored to an individual
      or to an organization's specific needs, just like a Chameleon!
    </p>
    <div class="icon-wrapper">
      <mat-icon class="main-icon" svgIcon="checkAll"></mat-icon>
    </div>
  </div>

<div>
  <app-event-widget></app-event-widget>
</div>
    
  <mat-card class="upcoming-appointments-card">
    <mat-card-title>Upcoming Booked Appointments</mat-card-title>
    <mat-card-subtitle>Name of the Appointment</mat-card-subtitle>
    <mat-card-content>
      First 10 appointments in this scrollable widget. Coming soon!
    </mat-card-content>
  </mat-card>

</div>


<div class="main-content">
</div>

<app-site-footer></app-site-footer>
