.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stepper-container{
    width: 40%;
}

.avail-container {
    font-family: "Lato";
}

.avail-to-select{
    margin-left: 30px;
}

.daysofweek {
    margin: 12px 0;
}

.full-width {
    width: 100%;
}

.event-container{
    font-family: 'Lato';
    margin-left: 10px;
}

.confirmation-container{
    margin-left: 10px;;
}