#card {
    background-color: cornflowerblue;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-wrapper {
    background-color: white;
    flex-grow: 1;
}
<<<<<<< HEAD

mat-form-field.mat-form-field {
  font-size: 16px;

}

span{
  margin-left: 10px;
}
.exp .mat-form-field {
  width: 420px;
}

.esc .mat-form-field{
  width: 130px;
}

button{
  margin:5px;
}

.spinner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}
=======
>>>>>>> parent of 637e1a1 (COM207- Appointment Creation From)
