#card {
    background-color: cornflowerblue;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-wrapper {
    background-color: white;
    flex-grow: 1;
}

.schedule-button-container{
    background: #03cdff;
}

.schedule-button{
    background: cornflowerblue;
}
