<div class="nav-panel-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Navigation Bar
                </mat-panel-title>
            </mat-expansion-panel-header>
            <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
                <a mat-tab-link
                *ngFor="let link of navLinks"
                [routerLink]="link.link"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive"> {{link.label}}
                </a> 
            </nav>
            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
            <router-outlet></router-outlet>
        </mat-expansion-panel>
    </mat-accordion>
</div>
