<div class="appointment" *ngIf="!isValid()"><p>You do not have any appointments</p></div>
<div  class="appointment" *ngIf="isValid()">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
   <!-- position column
   <ng-container matColumnDef="position">

    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let appt; let  i=index">{{1}}</td>
   </ng-container> -->
   <!-- position date -->
   <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let appt">{{formatDate(appt.startTime)}}</td>
  </ng-container>

  <!-- position title-->
  <ng-container matColumnDef="title">

   <th mat-header-cell *matHeaderCellDef>Title</th>
   <td mat-cell *matCellDef="let appt">{{formatTitle(appt.title)}}</td>
  </ng-container>

  <!-- position start Time -->
  <ng-container matColumnDef="startTime">

    <th mat-header-cell *matHeaderCellDef>Start Time</th>
    <td mat-cell *matCellDef="let appt">{{formatTime(appt.startTime)}}</td>
   </ng-container>


    <!-- position End Time -->
  <ng-container matColumnDef="endTime">

    <th mat-header-cell *matHeaderCellDef>End Time</th>
    <td mat-cell *matCellDef="let appt">{{formatTime(appt.endTime)}}</td>
   </ng-container>

   <!-- position Slots remaining -->
   <ng-container matColumnDef="totalSlots">

    <th mat-header-cell *matHeaderCellDef>Total Slots</th>
    <td mat-cell *matCellDef="let appt">{{formatSlots(appt.totalSlots)}}</td>
   </ng-container>

   <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-diagram">
          <div class="element-title"> {{element.title}} </div>
          <div class="element-description"><span class="material-icons">notes</span><span>{{element.description}}</span></div>
          <div class="element-participants"><i class="material-icons">people</i>
            <div *ngFor="let p of element.participants">{{p}}</div>
          </div>
          <div class="element-location"><i class="material-icons">calendar_month</i>{{element.location}}</div>
        </div>

        <div class="element-diag">
          <div class="element-buttons">
            <div class="element-items"><button>Re Schedule</button></div>
            <div class="element-items"><button>Cancel</button></div>
          </div>
        </div>


      </div>

    </td>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
   class="example-element-row"
   [class.example-expanded-row]="expandedElement === element"
   (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</table>

<mat-paginator class ="mat-elevation-z8" [length]="appLength" [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons>
</mat-paginator>
</div>
