.next-button {
  background: #ff4081;
  color:white;
  margin-left: 12px;
}

.preview-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.logo-file-input{
  display: none;
}

.splash-file-input{
  display: none;
}

.logo-upload-btn{
  margin-bottom: 20px;
}

.preview-and-save-card {
  height: 7rem;
  width: 27rem;
  display: flex;
  margin-bottom: 20px;
}

.save-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.splash-upload-btn{
  margin-bottom: 20px;
}

.card-title{
  font-weight: 1000;
  font-family: 'Lato';
}

.card-image-container {
  width: 7rem;
  height: auto;
  display: flex;
  align-items: center;
}

.paintbrush {
  object-fit: contain;
  overflow: hidden;
  height: 100%;
}

.card-content-container {
  margin-left: 1rem;
  font-family: 'Lato';
}

.banner-color-card{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 27rem;
  height: 7rem;
  display: flex;
  align-items: center;
}

.logo-card{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 27rem;
  height: 7rem;
  display: flex;
}

.logo-image {
  object-fit: contain;
  overflow: hidden;
  height: 100%;
}

.company-name-card {
  height: 7rem;
  width: 27rem;
  height: auto;
  display: flex;
  align-items: center;
}

.logo-box {
  width: 16rem;
  height: 16rem;
  margin-left: 1.125rem;
  outline: 3px solid gray;
  background: white;
  background-size: cover;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.logo-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.logo-container-outline{
  background: lightgray;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
  width: 21rem;
  height: 28rem;
}

.logo-container{
  margin-top: 10px;
  margin-right: 20px;
  width: 22rem;
  height: 27rem;
  background: grey;
}

.logo-container-title{
  text-align: center;
  font-family: 'Lato';
  font-size: 32px;
  color: white;
  margin-bottom: 3rem;
}

.splash-container-outline{
  background: lightgray;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
  width: 41rem;
  height: 28rem;
}

.splash-container{
  margin-top: 10px;
  width: 40rem;
  height: 27rem;
  background: grey;
}

.splash-container-title{
  text-align: center;
  font-family: 'Lato';
  font-size: 32px;
  color:white;
  margin-bottom: 3rem;
}

.splash-box {
  width: 28rem;
  height: 16rem;
  margin-left: 6rem;
  outline: 3px solid gray;
  background: white;
  background-size: cover;
  overflow: hidden;
}

.splash-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.banner-container-outline{
  width: 65.25rem;
  height: 16rem;
  background: lightgray;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.banner-container{
  width: 63.25rem;
  height: 15rem;
  background: grey;
  margin-top: 1.50rem;
  margin-bottom: 2rem;
  position: inherit;
}

.banner-container-title{
  text-align: center;
  font-family: 'Lato';
  font-size: 32px;
  color:white;
  margin-bottom: 3rem;
}

.banner-box{
  width: 60rem;
  height: 10rem;
  outline: 3px solid gray;
  position: center;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;;
}

/* The banner  */

.business-title{
  font-size: 32px;
  margin: 15px;
}

.example-spacer{
  flex: 1 1 auto;
}

.banner{
  background: green;
  padding: 15px;
}