
.example-container {
  width: 400px;
  height: 100%;
  margin: 10px;
  border: 2px solid #555;
  background-color: lightcoral;
}


.example-content {
  width: 200px;
  height: 100%;
  border: 3px;
}

.example-side {
  width: 100px;
  height: 100%;
  border: 3px;
  background-color: yellow;
}
