/*
    Created on : Apr 28, 2022, 12:10:25 PM
    Author     : Matt Crow <mattcrow19@gmail.com>
*/

.appointment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.appointment table{
width: 100%;
}

mat-paginator{
  width: inherit;
}
