<body>
  <app-default-header></app-default-header>

  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <!--Step 1: Select your splash page layout-->
    <mat-step [stepControl]="layoutFormGroup">
      <form [formGroup]="layoutFormGroup">
        <ng-template matStepLabel>Choose your banner color</ng-template>
        <mat-card class="banner-color-card">
          <mat-card-content>
            Your banner will be displayed a the top of every page in your app. Choose a color you'd like to represent.
          </mat-card-content>
        </mat-card>

        <mat-form-field>

          <mat-label>Splash Page Layout</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>Layout 1</mat-option>
            <mat-option>Layout 2</mat-option>
            <mat-option>Layout 3</mat-option>
            <mat-option>Layout 4</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Set Color</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!--Step 2: Choose background image-->
    <mat-step [stepControl]="backgroundImageGroup">
      <form [formGroup]="backgroundImageGroup">
        <ng-template matStepLabel>Upload your splash page background</ng-template>

          <mat-card class="background-card">
            <mat-card-content>
              Upload a large image with high resolution to be your background for your custom splash page.
            </mat-card-content>
          </mat-card>

          <input matInput formControlName="background" required>
          <input type="file" class="splash-file-input" #splashFileUpload>

          <div class="splash-file-upload" >
            <button mat-mini-fab color="primary" class="splash-upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="contactUsGroup">
      <form [formGroup]="contactUsGroup"></form>
        <ng-template matStepLabel>Contact Us box information.</ng-template>
          <mat-card class="background-card">
            <mat-card-content>
              Fill out information you want in your contact us box.<Br>
              Example: Business Hours / Point of Contact / Location
            </mat-card-content>
          </mat-card>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Input Contact Us information.</mat-label>
              <textarea matInput placeholder=""></textarea>
            </mat-form-field>
          </form>

      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="preview-container">
    <mat-card class="background-container">
      <mat-card-title class="background-container-title">Preview the Splash Screen Background</mat-card-title>
      <mat-card-content>
        <div class="background-box">
          <div class="background-image-preview" *ngIf="backgroundImage && backgroundImage !== ''">
              <img class="background-image" [src]="backgroundImage" [alt]="backgroundImageGroup.value.name">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


</body>
