<app-default-header></app-default-header>

<div class="header">
    <h3>My Appointments</h3>
</div>

<div class="main-container">
    <div class="left-side">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef> Service </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
        
            <ng-container matColumnDef="client-name">
                <th mat-header-cell *matHeaderCellDef> Client's Display Name (email) </th>
                <td mat-cell *matCellDef="let element"> {{element.registeredUsers[0].email}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="start-time">
              <th mat-header-cell *matHeaderCellDef> Start Time </th>
              <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
            </ng-container>
          
            <ng-container matColumnDef="end-time">
              <th mat-header-cell *matHeaderCellDef> End Time </th>
              <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="element-row" 
                *matRowDef="let row; 
                columns: displayedColumns;"
                (click)="setSelectedAppt(row.id)"
                >
            </tr>
        </table>
    </div>

    <div class="right-side">
        <mat-card>
            <mat-card-title>Appointment Details</mat-card-title>
        
            <mat-card-content>
                <div class="card-body">
                    <div class="organizer">
                        <h3>Barber: Daniel Ramos</h3>
                    </div>
                    <div class="participant">
                        <h3>Client: {{selectedAppt.registeredUsers}} </h3>
                    </div>
                    <div class="service">
                        <h3>Service: {{selectedAppt.description}}</h3>
                    </div>
                </div>
                <div class="card-date">
                    <div class="date">
                        <h3>Date: {{selectedAppt.date}}</h3>
                    </div>
                    <div class="schedule">
                        <div class="time-from">
                            <h3>From: {{selectedAppt.startTime}}</h3>
                        </div>
                        <div class="time-to">
                            <h3>To: {{selectedAppt.endTime}}</h3>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>Confirm</button>
                <button mat-raised-button>Cancel</button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>




  

