<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<app-default-header></app-default-header>
<div class="main-container">
    <div class="secondary-container">
        <div class="day-list">
            <div *ngFor="let date of allDates">
                <div class="day-list-item">
                    <h2>{{date | date: 'fullDate' }}</h2>
                    <div *ngFor="let appt of dateApptDictionary | keyvalue" class="event-list-body">
                        <div *ngIf="appt.key === date">
                            <mat-accordion *ngFor="let value of appt.value">
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header class="event-list-item">
                                        <div class="time-item"><span>{{value.startTime | date: 'shortTime'}} - {{value.endTime | date: 'shortTime'}}</span></div>
                                        <div class="title-item"><span>{{value.title}}</span></div>
                                        <div class="participants-item"><span>Appointment with<br> {{value.participants[0]}}</span></div>
                                    </mat-expansion-panel-header>
                                    <div class="appt-content">
                                        <div class="details-item">
                                            <span><strong>Appointment Organizer</strong><br>     {{value.participants[0]}}</span><br><br>
                                            <span><strong>Description</strong><br>               {{value.description}}</span><br><br>
                                            <span><strong>Location</strong> <br>                 {{value.location}}</span><br><br>
                                        </div>
                                        <div class="appt-actions" *ngIf="(currentUser.role === 'PARTICIPANT')">
                                            <button mat-raised-button color="primary">Book Appointment</button><br>
                                        </div>
                                        <div class="appt-actions" *ngIf="(currentUser.role === 'TALENT' || currentUser.role === 'ADMIN')">
                                            <button mat-raised-button class="action-button">Book Another User</button><br>
                                            <button mat-raised-button class="action-button">Unbook User</button><br>
                                            <button mat-raised-button class="action-button">Cancel Appointment</button><br>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
