@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-toolbar{
  padding: 15px;
}

#site_header {
  background-attachment: fixed;
  background-image: url("/api/v1/config/banner-image");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon{
  padding: 0 20px;
  margin: 0 20px;
}

.business-title{
  font-size: 32px;
  margin: 15px;
}

.example-spacer{
  flex: 1 1 auto;
}

img {
  max-width: 250px;
}
