@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-toolbar{
  padding: 10px;
}
.icon{
  padding: 0 14px;
  margin: 0 20px;
}

.business-title{
  margin: 10px;
}

.example-spacer{
  flex: 1 1 auto;
}

.main{
  display: flex;
  align-content: center;
}
