<mat-toolbar color="accent">
  <mat-toolbar-row>
    <p class="business-title">Chameleon <Br>Business Studio</p>
    <span class="example-spacer"></span>
    <a href="https://www.linkedin.com/company/vendiahq/" target="_blank"><button mat-icon-button class="icon"><mat-icon svgIcon="linkedIn"></mat-icon></button></a>
    <a href="https://github.com/Grovy/ChameleonBusinessStudio" target="_blank"><button mat-icon-button class="icon"><mat-icon svgIcon="github"></mat-icon></button></a>
    <button mat-stroked-button class="icon">About Us</button>
    <sign-in></sign-in>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main">
  <h1 class="label">Scheduling made easier<br>for you and your company</h1>
  <img id="calendar-gif" src="assets/images/icons8-calendar.gif">
</div>
