@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.header-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  background-color: cornflowerblue;
  /*padding: 20px;*/
}
.chameleon-business-studio{
  position: relative;
  margin: auto;
  padding: 20px;
  display: inline-block;
}

.chameleon-business-studio h1{
  text-align: left;
  margin: auto;
}

.bolded{
  font-weight: bold;
}

.google-sign-in{
  position: absolute;
  display: inline-block;
  right: 50px;
  top: 50px;
}

.about-us{
  position: absolute;
  display: inline-block;
  right: 250px;
  top: 50px;
}

