<!--<div>-->
<!--  <div class="header-container">-->
<!--    <div class="business-title-wrapper">-->
<!--      <h1>Chameleon Business Studio</h1>-->
<!--    </div>-->
<!--    &lt;!&ndash;   I'll try adding the icon later   &ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="business-logo-wrapper">&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-icon id="chameleon" svgIcon="chameleon"></mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    <div class="button-wrapper">-->
<!--      <div class="sign-in">-->
<!--        <button mat-stroked-button routerLink="/sign-in">Sign in</button>-->
<!--      </div>-->
<!--      <div class="about-us">-->
<!--        <button mat-stroked-button>About Us</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="splash"></div>-->
<!--<app-site-footer></app-site-footer>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p class="business-title">Chameleon <Br>Business Studio</p>
    <span class="example-spacer"></span>
    <a href="https://instagram.com" target="_blank"><button mat-icon-button class="icon"><mat-icon svgIcon="instagram"></mat-icon></button></a>
    <a href="https://github.com/Grovy/ChameleonBusinessStudio" target="_blank"><button mat-icon-button class="icon"><mat-icon svgIcon="github"></mat-icon></button></a>
    <button mat-stroked-button class="icon">About Us</button>
    <button mat-stroked-button class="icon">Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main">
  <h1 class="label">Scheduling made easier<br>for you and your company</h1>
  <img id="calendar-gif" src="assets/images/icons8-calendar.gif">
</div>

<!--<mat-icon id="calendar" svgIcon="calendar"></mat-icon>-->
