@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.header-container{
  background-color: cornflowerblue;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.business-logo-wrapper{
  align-self: start;
  position: relative;
  min-width: 100px;
  min-height: 125px;
  grid-column: 1;
  margin: auto;
  padding: 20px;
  display: inline-block;
}

h1{
  text-align: left;
  color: white;
  box-shadow: -2px -2px;
  padding: 5px 10px;
  margin: auto;
}

.button-wrapper{
  position: relative;
  grid-column: 4;
}

sign-in{
  position: absolute;
  /*display: inline-block;*/
  right: 50px;
  top: 50px;
}

.about-us{
  position: absolute;
  display: inline-block;
  right: 250px;
  top: 50px;
}

