<mat-grid-list cols="6" rowHeight="">
  <div>
    <mat-grid-tile-header>
      <mat-card class="header">
        <mat-card-title class="title">Chameleon Business Studio</mat-card-title>
      </mat-card>
    </mat-grid-tile-header>
  </div>
  <mat-grid-tile colspan="4" class="left">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="right">
    <mat-card class="login_form">
      <mat-card-subtitle class="login subtitle">Welcome to</mat-card-subtitle>
      <mat-card-title class="login title">Chameleon <br>Business Studio</mat-card-title>
      <mat-card-subtitle class="login subtitle">Lets get started...</mat-card-subtitle>
      <mat-card>
      </mat-card>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-tile-footer class="footer">
  <h4 class="vendia">Powered by Vendia</h4>
  <h5 class="copyright">Copyright &COPY; 2022 Chameleon Business Studio. All rights reserved.</h5>
</mat-grid-tile-footer>


