<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<app-default-header></app-default-header>

<div class="home">
  <mat-tab-group>
    <!--The first tab which allows you to view employees-->
    <mat-tab label="View Employees">
      <div class="main-container">
        <div class="secondary-container">
          <div class="top-line"></div>
          <div *ngIf="!reqCompleted"> <div class="spinner"><mat-spinner  aria-label="submitting"></mat-spinner> </div></div>
          <div class="event-list-body" *ngFor="let user of myUserResponse.users; let i = index;">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="event-list-item">
                <div class="time-item">
                    <span>User #{{i}}</span><br>
                </div>
                <div class="title-item">
                  <span>{{user.displayName}} ({{user.email}})</span>
                </div>
                <div class="participants-item">
                  <span>{{user.role}}</span>
                </div>
            </mat-expansion-panel-header>
            <div class="appt-content">
              <div class="appt-actions">
                <form [formGroup]="changeRoleForm" class="form-field">
                    <ng-template matStepLabel>Choose new role for this user.</ng-template>
                    <mat-form-field class="avail-to-select" appearance="fill">
                        <mat-label>Choose new role</mat-label>
                        <mat-select formControlName="newRole" matInput>
                            <mat-option *ngFor="let role of roleSelection" [value]="role">
                                {{role}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button class="action-button" (click)="changeUserRole(changeRoleForm.value, user)" [disabled]="!changeRoleForm.valid">
                      Change User's Role
                    </button>
                </form>

              </div>
            </div>
            </mat-expansion-panel>
          </div>
          <div class="bottom-line"></div>
        </div>
      </div>

    </mat-tab>


    <!--The second tab which allows you to add employees-->
    <mat-tab label="Add Employee">
      <div class="add-employees-container">
        <div *ngIf="!reqCompleted"> <div class="spinner"><mat-spinner  aria-label="submitting"></mat-spinner> </div></div>
        <!--View the current employee table-->
        <mat-card class="employee-table-card">
          <mat-card-title>My Registered Users</mat-card-title>
          <mat-card-content class="table-container">
            <table mat-table [dataSource]="myUserResponse.users" class="mat-elevation-z8">
              <!--Display Name Column-->                            
              <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef> Display Name </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
              </ng-container>
              <!--Email Column-->                            
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <!--Role Column-->
              <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef> Role </th>
                  <td mat-cell *matCellDef="let element"> {{element.role}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

        <!--Form to add a new user (employee)-->
        <mat-card class="add-user-card">
          <mat-card-title class="add-user-card-title">Register a New User</mat-card-title>
          <mat-card-subtitle class="add-user-card-subtitle">
            Enter the following information to create a new user. <br><br>
            Guidelines: <br> New employee data should <strong>not</strong> include data of an existing user.<br>
          </mat-card-subtitle>
          <mat-card-content>
            <form [formGroup]="profileForm" class="form-container" id="ngForm" (ngSubmit)="onClickSubmit(profileForm.value)">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input type="text" formControlName="displayName" matInput placeholder="Enter New Employee's Display Name" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input type="email" formControlName="email" matInput placeholder="Enter New Employee's Email" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input type="email" formControlName="confirmEmail" matInput placeholder="Confirm New Employee's Email" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-form-field class="full-width">
                  <mat-label>Select Employee's Role</mat-label>
                  <mat-select formControlName="role" matInput required>
                    <mat-option value="ORGANIZER">Organizer</mat-option>
                    <mat-option value="TALENT">Talent</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" form="ngForm" [disabled]="!profileForm.valid">Save</button>
            <button mat-raised-button color="secondary" (click)="onDiscard()">Discard</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>
  </mat-tab-group>


  

</div>



