/* You can add global styles to this file, and also import other style files */


body {
  /*background-color: #5E72EB;*/
  margin: 0;
  font-family: "Roboto", "PT Sans", "Poppins", serif;
  background: #fff9ff;
}
