<mat-card class="sign-in-form">
  <mat-card-header>
    <mat-card-subtitle class="welcome">Welcome to</mat-card-subtitle>
    <mat-card-title class="chameleon"><h2>Chameleon <br>Business Studio</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="lets-get-started">Lets get started...</mat-card-subtitle>
    <mat-card-actions>
      <a href="/oauth2/authorization/google" mat-stroked-button class="google-button">
        <mat-icon id="google-icon" svgIcon="google"></mat-icon>
        Continue with Google
      </a>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-footer>
    <mat-divider inset></mat-divider>
    <mat-card-subtitle id="registration">Already registered? <a>Good for you!</a></mat-card-subtitle>
  </mat-card-footer>
</mat-card>
